.container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: .7rem;
  padding: 2rem;
  background: var(--preto-azulado);
}

.container .row .image {
  flex: 1 1 45rem;
  padding: 2rem;
}

.container .row .container__descricao {
  flex: 1 1 45rem;
  padding: 2rem;
}

.container .row .image img {
  width: 100%;
}


/* .secundario {
  align-items: center;
  margin: 0 5rem;
} */
.container__descricao .descricao__titulo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--titulo);
  margin: 0.1rem;
}
.container__descricao .descricao__texto {
  font-size: 1.5rem;
  color: var(--cinza-secundario);
  margin-top: 1rem;
  line-height: 1.5;
}
.botao_combo {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: black;
  cursor: pointer;
  border-radius: 7px;
  transition: box-shadow 1s ease;
}
.botao_combo.blue {
  background-color: transparent;
  color: var(--color-logo);
  border: 2px solid var(--color-logo);
}

.botao_combo:hover {
  background: transparent;
  border: 2px solid var(--color-logo);
  transition: 0.3s all ease;
  box-shadow: inset 220px 0 0 var(--color-logo);
  color: #fff;
}
