.header {
  /* background: var(--blue-claro); */
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1.5rem 7%; */
  /* border-bottom: var(--border); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 2px 2px 10px #fff, -2px -2px 10px #dadef0;
}
.header.shadow {
  background: var(--blue-clear);
  transition: 0.5s;
}

.header .logo img {
  height: 4rem;
  margin-left: 2rem;
}
.header .navbar a {
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.8rem;
  color: white;
  padding: 1.5rem;
  transform: 2ms ease-in;
  display: inline-block;
}
.header .navbar a:nth-child(1) {
  color: var(--blue-claro);
}
.header .navbar a::after {
  content: "";
  display: block;
  background: var(--blue-claro);
  width: 0;
  height: 2px;
  border-radius: 4px;
  margin: 6px auto 6px auto;
  transition: all 0.3s ease;
}
.header .navbar a:hover:before,
.header .navbar a:hover:after {
  width: 100%;
}

.header .navbar a:hover {
  color: var(--blue-claro);
}
.header .icons div {
  color: var(--white);
  cursor: pointer;
  font-size: 2.5rem;
  margin-right: 2rem;
}

.header .icons div:hover {
  color: var(--botao-azul);
}
#menu-btn {
  display: none;
}
#menu-btn.color{
  color:#fff;
}