.principal {
  min-height: 100vh;
  padding: 80px 0;
  display: flex;
  align-items: center;
  background: url(../img/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container__caixa {
  max-width: 100rem;
  margin: 0 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container__caixa .container__titulo {
  max-width: 40rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  padding: 2rem;

}
.container__caixa .container__imagem {
  width: 100%;
  height: 100%;
  margin: 1rem 0 2rem 0;
}
.container__caixa .container__botao {
  background-color: var(--botao-azul);
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: 5rem;
  color: var(--branco-principal);
  text-decoration: none;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}
.container__caixa .container__botao:hover {
  background-color: var(--botao-azul-efeito);
  color: var(--cor-de-fundo);
}

 
.container__caixa .botao_secundario {
  margin-top: 1rem;
  display: inline-block;
  padding: 1.5rem;
  /* font-size: 1.7rem; */
  color: #fff;
  background-color: black;
  cursor: pointer;
  border-radius: 7px;
  transition: box-shadow 1s ease;
}
.container__caixa .botao_secundario.blue {
  background-color: transparent;
  color: var(--color-logo);
  border: 2px solid var(--color-logo);
}

.container__caixa .botao_secundario:hover {
  background: transparent;
  border: 2px solid var(--color-logo);
  transition: 0.3s all ease;
  box-shadow: inset 650px 0 0 var(--color-logo);
  color: #fff;
} 
.container__caixa .botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
  margin-bottom: 1rem;
}
.container__caixa .container__aviso {
  font-size: 1.1rem;
  color: var(--cinza-secundario);
  margin-bottom: 2rem;
}
