:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: "Inter";
    --botao-azul-efeito: #3c92fa;
  }
  * {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  
  html::-webkit-scrollbar {
    width: 0.8rem;
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
  }
  body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
  }
  section,footer {
    padding: 2rem 7%;
  }
  .principal {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/Background.png);background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
  }
  .container__caixa {
    max-width: 100rem;
    margin: 0 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .container__caixa .container__titulo {
    max-width: 60rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .container__caixa .container__imagem {
    width: 100rem;
    height: 100rem;
    margin: 1rem 0 2rem 0;
  }
  .container__caixa .container__botao {
    background-color: var(--botao-azul);
    border-radius: 0.5rem;
    padding: 1.5rem;
    color: var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1rem;
    width:50%;
    text-align: center;
  }
  .botao_secundario{
      background-color: transparent;
      border: 2px solid var(--branco-principal);
      margin-bottom: 1rem;
  }
  .container__aviso{
      font-size: 1.1rem;
      color: var(--cinza-secundario);
      margin-bottom: 2rem;
  }
  