:root {
  --branco-principal: #fff;
  --preto-azulado: #13131a;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --fonte-principal: "Inter";
  --botao-azul-efeito: #3c92fa;
  --titulo: #dd0031;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --border-branco: 0.1rem solid #fff;

  /* footer */
  --blue-dark: #141c2c;
  --blue-face: #1349c6;
  --blue-twitter: #28a0d5;
  --color-red: #e91e63;
  --color: #24262b;
  --purple-clear: #8c94b8;
  --red-youtube: #e31917;
  --white: #f5f5f5;
  --white-ice: #d5d5d5;
}
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}


html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}
body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 1.5rem;
  font-weight: 400;
}
section,
footer {
  padding: 2rem 7%;
}
.heading {
  text-align: center;
  color: var(--branco-principal);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 3rem;
}
.heading span {
  color: var(--botao-azul);
  text-transform: uppercase;
}
